<form class="d-flex flex-column text-center" id="form" th:fragment="form (mode, action, user, roles)" th:action="@{${action}}" th:object="${user}" method="post">
    <div class="d-flex flex-column mb-3" th:unless="${mode} == 'create'">
        <label class="fw-bold" for="input-id">ID</label>
        <input class="form-control" id="input-id" th:field="*{id}" readonly />
    </div>
    <div class="d-flex flex-column mb-3">
        <label class="fw-bold" for="input-first-name">First name</label>
        <input class="form-control" th:style="${mode} == 'create' ? 'background: #ffd06c' : ''" id="input-first-name" type="text" placeholder="First name" th:field="*{firstName}" maxlength="255" autofocus required th:disabled="${mode} == 'delete'" />
    </div>
    <div class="d-flex flex-column mb-3">
        <label class="fw-bold" for="input-last-name">Last name</label>
        <input class="form-control" th:style="${mode} == 'create' ? 'background: #ffd06c' : ''" id="input-last-name" type="text" placeholder="Last name" th:field="*{lastName}" maxlength="255" required autocomplete th:disabled="${mode} == 'delete'" />
    </div>
    <div class="d-flex flex-column mb-3">
        <label class="fw-bold" for="input-age">Age</label>
        <input class="form-control" id="input-age" type="number" th:field="*{age}" min="0" max="255" required th:disabled="${mode} == 'delete'" />
    </div>
    <div class="d-flex flex-column mb-3">
        <label class="fw-bold" for="input-username">Email</label>
        <input class="form-control" th:style="${mode} == 'create' ? 'background: #ffd06c' : ''" id="input-username" type="text" placeholder="Email" th:field="*{username}" maxlength="255" required autocomplete th:disabled="${mode} == 'delete'" />
    </div>
    <div class="d-flex flex-column mb-3" th:unless="${mode} == 'delete'">
        <label class="fw-bold" for="input-password">Password</label>
        <input class="form-control" id="input-password" type="password" placeholder="Password" name="password" maxlength="255" required />
    </div>
    <div class="d-flex flex-column mb-3">
        <label class="fw-bold" for="input-roles">Role</label>
        <select class="form-select form-select-sm overflow-scroll" size="2" id="input-roles" name="userRoles" multiple required th:disabled="${mode} == 'delete'">
            <option
                th:each="role:${roles}"
                th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${user.roles.contains(role)}"
            >
            </option>
        </select>
    </div>
</form>